<div class="container_adopt">
    <div class="adopt_adopt">
        <h1>Adopt!</h1>
        <h2>We higly recommend to adopt a batman, having your own batman :9. Adopting a batman hasent fully come online yet. We have some legal problems to sort out, but we will be online soon. So for now you can only see what you can adopt when we release them.</h2>
    </div>
    <div class="types">
        <h1>3 Diffrent types with <br> 3 Diffrent types</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas turpis augue, fermentum non dolor ac, consequat bibendum tellus. Nunc volutpat ullamcorper felis non eleifend. Curabitur pretium enim quis arcu lacinia, sit amet consequat est mattis. Fusce gravida neque vitae sapien efficitur egestas. Ut id diam fermentum, bibendum turpis et, placerat magna.</h2>
    </div>
    <div class="adopt_adopt">
        <h1>Standard</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas turpis augue, fermentum non dolor ac, consequat bibendum tellus. Nunc volutpat ullamcorper felis non eleifend. Curabitur pretium enim quis arcu lacinia, sit amet consequat est mattis. Fusce gravida neque vitae sapien efficitur egestas. Ut id diam fermentum, bibendum turpis et, placerat magna.</h2>
    </div>
    <div class="adopt_adopt">
        <h1>Premium</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas turpis augue, fermentum non dolor ac, consequat bibendum tellus. Nunc volutpat ullamcorper felis non eleifend. Curabitur pretium enim quis arcu lacinia, sit amet consequat est mattis. Fusce gravida neque vitae sapien efficitur egestas. Ut id diam fermentum, bibendum turpis et, placerat magna.</h2>
    </div>
    <div class="adopt_adopt">
        <h1>Limited</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas turpis augue, fermentum non dolor ac, consequat bibendum tellus. Nunc volutpat ullamcorper felis non eleifend. Curabitur pretium enim quis arcu lacinia, sit amet consequat est mattis. Fusce gravida neque vitae sapien efficitur egestas. Ut id diam fermentum, bibendum turpis et, placerat magna.</h2>
    </div>
    <div class="adopt_adopt">
        <h1>Standard</h1>
        <div class="bildspel pic1"></div>
    </div>
    <div class="adopt_adopt">
        <h1>Premium</h1>
        <div class="bildspel pic1"></div>
    </div>
    <div class="adopt_adopt">
        <h1>Limited</h1>
        <div class="bildspel pic1"></div>
    </div>



</div>