<div class="container_adopt">
    <div class="adopt_adopt">
        <h1>Adopt!</h1>
        <h2>We higly recommend to adopt a batman, having your own batman :9. Adopting a batman hasent fully come online yet. We have some legal problems to sort out, but we will be online soon. So for now you can only see what you can adopt when we release them.</h2>
    </div>
    <div class="adopt_adopt">
        <h1>3 Diffrent types with <br> 3 Diffrent types</h1>
        <h2></h2>
    </div>



</div>