<div class="container_contact">
    <h4>Contact!</h4>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas turpis augue, fermentum non dolor ac, consequat bibendum tellus. Nunc volutpat ullamcorper felis non eleifend. Curabitur pretium enim quis arcu lacinia, sit amet consequat est mattis. Fusce gravida neque vitae sapien efficitur egestas. Ut id diam fermentum, bibendum turpis et, placerat magna. </h5>
    <input placeholder="Your mail" class="input">
    <input placeholder="Name" class="input">
    <input placeholder="Subject" class="input">
    <input placeholder="Message" class="input">
    <a href="thanks.html"><button class="desktop_contact_button">Send</button></a>
    
</div>
<div class="desktop_container_contact">
    <whitespace></whitespace>
    <div class="desktop_contact">
        <h1>Contact!</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas turpis augue, fermentum non dolor ac, consequat bibendum tellus. Nunc volutpat ullamcorper felis non eleifend. Curabitur pretium enim quis arcu lacinia, sit amet consequat est mattis. Fusce gravida neque vitae sapien efficitur egestas. Ut id diam fermentum, bibendum turpis et, placerat magna. </h2>
        <input placeholder="Your mail" class="input size2">
        <input placeholder="Name" class="input">
        <input placeholder="Subject" class="input">
        <input placeholder="Message" class="input size2">
        <a href="thanks.html" class="muu"><button class="desktop_contact_button">Send</button></a>
    </div>
</div>
