.container_adopt{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr;

}
.adopt_adopt{
    grid-column: span 2;
    display: grid;
    grid-template-rows: 60px 240px;
    grid-template-columns: repeat(2, 1fr); 
    border: solid 5px;
    border-bottom: 2.5px;
}
.types {
    grid-column: span 2;
    display: grid;
    grid-template-rows: 100px 240px;
    grid-template-columns: repeat(2, 1fr); 
    border: solid 5px;
    border-bottom: 2.5px;
}
