.container_adopt{
    display: grid;
    grid-template-rows: repeat(8, 300px);
    grid-template-columns: 1fr;

}
.adopt_adopt{
    grid-column: span 2;
    display: grid;
    grid-template-rows: 60px 240px;
    grid-template-columns: repeat(2, 1fr); 
    border: solid 5px white;
    border-bottom: 2.5px;
}
.adopt_adopt_img{
    grid-column: span 2;
    display: grid;
    grid-template-rows: 100px 144px;
    grid-template-columns: 72px 216px 72px; 
    border: solid 5px white;
    border-bottom: 2.5px;
}
.types {
    grid-column: span 2;
    display: grid;
    grid-template-rows: 100px 200px;
    grid-template-columns: repeat(2, 1fr); 
    border: solid 5px white;
    border-bottom: 2.5px;
}
.desktop_adopt_img{
    display: none;
}
.only_desktop_adopt{
    display: none;
}