body {
    background-color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 120px;
    height: auto;
    width: 1fr;
    margin-left: auto;
    margin-right: auto;
}

header{
    grid-row: 1 span;
    grid-column: 1 span;
    text-align: center;
}
.header_img{
    background-image: none;
}
.menu_desktop{
    display: none;
}

.end_img{
    background-color: hotpink;
    grid-row: 3 span;
    background-image: url("");
}
.end{
    background-color: hotpink;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 3fr);
    border: solid 5px;

}
@media only screen and (min-device-width: 1020px)  {
    header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px 50px;

    }
    .header_img{
        background-image: url("../img/header_desktop.png");
        grid-column: span 3;
    }
    .menu_desktop{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    body{
        background-color: none;
        background-image: url("../img/background.png");
        background-size: cover;
    }
    .container {
        grid-template-rows: 250px auto 200px;
        grid-template-columns: 1fr;
        width: 1296px;
    }

    .end_img{
        grid-row: 3 span;
        background-image: url("../img/end_img.png");
    }
    .end{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 3fr);
        border: solid 5px;
    
    }
}