.container_index{
    display: grid;
    grid-template-rows: 400px 300px 520px 520px 520px auto auto;
    grid-template-columns: repeat(2, 1fr);
    margin-left: none;
    margin-right: none;
}

.you_will_get{
    grid-column: span 2;
    display: grid;
    grid-template-rows: 60px 240;
    grid-template-columns: 1fr; 
    border: solid 5px white;
    border-bottom: solid 5px white;
}
.about{
    grid-column: span 2;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: repeat(2, 1fr); 
    border: solid 5px white;
    border-bottom: 2.5px
}
.contact{
    grid-column: span 2;
    display: grid;
    grid-template-rows: 60px 40px 40px 40px 200px 60px;
    grid-template-columns: 1;
    border: solid 5px white;
    border-bottom: 2.5px;
}
.front_img{
    border: solid 5px white;
    border-bottom: 2.5px;
    grid-column: span 2;
    display: grid;
    grid-template-rows: 60px 100px 120px 120px 120px;
    grid-template-columns: repeat(2, 1fr);

}

.info_desktop{
    display: none;
}
