h1{
    grid-column: span 2;
    text-align: center;
    font-size: 2em;
}
h2{
    grid-column: span 2;
    font-size: 1em;
}
h3{
    
    padding: 0;
    margin: 0;
    text-align:center;
    line-height:60px;
    width:180px;
    height:120px;
    font-size:2em;
}
h4 {
    text-align: center;
    font-size: 2em;
}
h5{
    text-align: center;
    font-size: 1em;
}
h6{
    padding: 0;
    margin: 0;
    width:360px;
    height:100px;
    line-height:100px;
    text-align: center;
    grid-column: 1/4;
    font-size: 2em;
}
h7{
    padding: 0;
    margin: 0;
    width:1296px;
    height:100px;
    line-height:100px;
    text-align: center;
    grid-column: 1/4;
    font-size: 2em;
}
h8{
    padding: 0;
    margin: 0;
    width:432px;
    height:100px;
    line-height:100px;
    text-align: center;
    font-size: 2em;
}
h9{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 10em;
    text-shadow: 5px 5px hotpink;
}
a{
    text-decoration: none;
}

