.pic1{
    background-image: url("../img/standard_baby.png");
    background-size: cover;
}
.pic2{
    background-image: url("../img/standard_teenage.png");
    background-size: cover;
}
.pic3{
    background-image: url("../img/standard_adult.png");
    background-size: cover;
}

.pic4{
    background-image: url("../img/premium_baby.png");
    background-size: cover;
}
.pic5{
    background-image: url("../img/premium_teenage.png");
    background-size: cover;
}
.pic6{
    background-image: url("../img/premium_adult.png");
    background-size: cover;
}
.pic7{
    background-image: url("../img/limited_edtion.png");
    background-size: cover;
}
.pic8{
    background-image: url("../img/limited_teenage.png");
    background-size: cover;
}
.pic9{
    background-image: url("../img/limited_adult.png");
    background-size: cover;
}
