@media only screen and (min-device-width: 1020px)  {
    header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px 50px;

    }
    .header_img{
        background-image: url("../img/header_desktop.png");
        grid-column: span 3;
    }
    .menu_mobil{
        display: none;
    }
    .menu_mobil_close{
        display: none;
    }
    .menu_mobil_fixed{
        display: none !important;
    }
    .menu_desktop{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    body{
        background-color: none;
        background-image: url("../img/background.png");
        background-size: cover;
    }
    .container {
        grid-template-rows: 250px auto 200px;
        grid-template-columns: 1fr;
        width: 1296px;
    }

    .end_img{
        grid-row: 3 span;
        background-image: url("../img/end_img.png");
    }
    .end{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 3fr);
        border: solid 5px;
    
    }
}